
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var _videoSource = ViewBag.vidSrc;
    var _videoVisibility = ViewBag.vidVisibility;
    
}

<div>
    <video id="id_video" name="name_video" style="margin: 2px; width: 306px; height: 191px; visibility: '@Html.ViewData["vidVisibility"]'" autoplay="on">
        <source src="@Html.ViewData["link1"]" type="video/mp4" id="ib2" />
    </video>
</div>

