@model WebApp1.Models.VideoViewModel

@{
    ViewData["Title"] = "Home Page";
    var v = Model as VideoViewModel;
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
</head>

<input type="text" id="id_text_url" name="text_url" style="width: 822px; height: 25px;" alt="insira o link aqui" />
<input type="submit" id="id_btn_getvideo" name="btn_getvideo" value="GetVideo" />

<div>
    <video id="id_video" name="name_video" style="margin: 2px; width: 306px; height: 191px; visibility: @Model?.VideoVisibilityy" src="@Model?.Link" autoplay="on">
    </video>

    <h3>@Model?.Link</h3>
    <br />
    <h3>@Model?.VideoVisibilityy</h3>
    <h3>@v?.Link</h3>
    <br />
</div>


<script>
    $("#id_text_url").change(function () {
        $.ajax({
            method: 'POST',
            url: '/Home/Index', //  "/Controller/Action"
            data: { id_text_url: $("#id_text_url").val() }, // Pass value that you want to controller.
            success: function (data) {
                //$("#ib2").val(data); //Implement partial refreshing.
                $("#ib2").val(data);
            }
        });
    })
</script>

